
.tab {
    position: relative;
    grid-row-start: 1;
    display: inline-flex;
    height: 2rem;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    appearance: none;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 2;
    --tab-padding: 1rem;
    --tab-color: var(--fallback-bc,oklch(var(--bc)/1));
    padding-inline-start: var(--tab-padding, 1rem);
    padding-inline-end: var(--tab-padding, 1rem)
}

.tabs-lifted > .tab.tab-active:not(.tab-disabled):not([disabled]),
.tabs-lifted > .tab:is(input:checked) {
    background-color: var(--tab-bg);
    border-width: var(--tab-border, 1px) var(--tab-border, 1px) 0 var(--tab-border, 1px);
    border-inline-start-color: var(--tab-border-color);
    border-inline-end-color: var(--tab-border-color);
    border-top-color: var(--tab-border-color);
    padding-inline-start: calc(var(--tab-padding, 1rem) - var(--tab-border, 1px));
    padding-inline-end: calc(var(--tab-padding, 1rem) - var(--tab-border, 1px));
    padding-bottom: var(--tab-border, 1px);
    padding-top: 0
}
.tab.tab-active:not(.tab-disabled):not([disabled]),
.tab:is(input:checked) {
    border-color: var(--fallback-bc,oklch(var(--bc)/var(--tw-border-opacity)));
    --tw-border-opacity: 1;
    --tw-text-opacity: 1
}
.tabs-lifted > .tab {
    border: var(--tab-border, 1px) solid transparent;
    border-width: 0 0 var(--tab-border, 1px) 0;
    border-start-start-radius: var(--tab-radius, 0.5rem);
    border-start-end-radius: var(--tab-radius, 0.5rem);
    border-bottom-color: var(--tab-border-color);
    padding-inline-start: var(--tab-padding, 1rem);
    padding-inline-end: var(--tab-padding, 1rem);
    padding-top: var(--tab-border, 1px)
}
.tab:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}
.tab:hover {
    --tw-text-opacity: 1
}
.tabs-lifted > .tab.tab-active:not(.tab-disabled):not([disabled]):first-child:before, .tabs-lifted > .tab:is(input:checked):first-child:before {
    background-image: var(--radius-end);
    background-position: top right;
}
.tabs-lifted > .tab.tab-active:not(.tab-disabled):not([disabled]):last-child:before, .tabs-lifted > .tab:is(input:checked):last-child:before {
    background-image: var(--radius-start);
    background-position: top left
}
.tabs-lifted > .tab.tab-active:not(.tab-disabled):not([disabled]):before, .tabs-lifted > .tab:is(input:checked):before {
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + var(--tab-radius, 0.5rem) * 2);
    height: var(--tab-radius, 0.5rem);
    bottom: 0;
    background-size: var(--tab-radius, 0.5rem);
    background-position: top left,
    top right;
    background-repeat: no-repeat;
    --tab-grad: calc(69% - var(--tab-border, 1px));
    --radius-start: radial-gradient(
        circle at top left,
        transparent var(--tab-grad),
        var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
        var(--tab-border-color) calc(var(--tab-grad) + var(--tab-border, 1px)),
        var(--tab-bg) calc(var(--tab-grad) + var(--tab-border, 1px) + 0.25px)
    );
    --radius-end: radial-gradient(
        circle at top right,
        transparent var(--tab-grad),
        var(--tab-border-color) calc(var(--tab-grad) + 0.25px),
        var(--tab-border-color) calc(var(--tab-grad) + var(--tab-border, 1px)),
        var(--tab-bg) calc(var(--tab-grad) + var(--tab-border, 1px) + 0.25px)
    );
    background-image: var(--radius-start), var(--radius-end)
}
